.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modalContent {
  padding: 20px;
  border-radius: 24px;
  background-color: white;
  width: 544px;
  transform: scale(0.5);
  transition: 0.4s all;
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent.active {
  transform: scale(1);
}

// Remove modal window btn
.modalBtn {
  position: absolute;
  width: 56px;
  height: 56px;
  right: 20px;
  top: 20px;
  border: 1px solid #EDECF0;
  padding: 16px;
  border-radius: 16px;
  background: transparent;
  cursor: pointer;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 17px;
    right: 25px;
    height: 20px;
    width: 2px;
    background: #544E61;
    border-radius: 5px;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

@media all and (max-width: 768px){
  .modalContent {
    width: 90%;
  }
}